In [1]:
import numpy as np
import pandas as pd

#### Hoteles por pueblo m√°gico

**Booking**

In [2]:
booking = pd.read_csv('./data/booking_servicios_sumas_clasificados.csv')

In [3]:
booking.city.value_counts()

Tulum                 330
Bacalar               125
Isla Mujeres           58
Sayulita               38
Loreto                 23
Mazunte                20
Todos Santos           12
Papantla de Olarte      3
Sisal                   3
Compostela              2
Isla Aguada             1
Name: city, dtype: int64

**TripAdvisor**

In [4]:
trip = pd.read_csv('./data/trip_servicios_sumas_clasificados.csv')

In [5]:
trip.city.value_counts()

Bacalar         55
Loreto          11
Isla Mujeres     7
Todos Santos     6
Mazunte          4
Name: city, dtype: int64

#### Precio promedio

In [10]:
booking[['stars','prices']].groupby('stars').mean()

            prices
stars
0      1719.280172
2      2103.333333
3      1642.842640
4      3618.457364
5      6190.738095

In [12]:
trip[['stars','prices']].groupby('stars').mean()

            prices
stars
0.0    1961.127273
1.0    1533.000000
2.0    1520.400000
2.5    1261.500000
3.0    1937.100000
3.5    3219.250000
4.0    2480.000000
4.5    4356.500000
5.0    3172.333333