In [1]:
import numpy as np
import pandas as pd

#### Hoteles por pueblo mágico

**Booking**

In [2]:
booking = pd.read_csv('./data/booking_servicios_sumas_clasificados.csv')

In [3]:
booking.city.value_counts()

Tulum                 339
Bacalar               148
Isla Mujeres           58
Sayulita               40
Loreto                 23
Mazunte                20
Todos Santos           12
Papantla de Olarte      3
Sisal                   3
Compostela              2
Isla Aguada             1
Name: city, dtype: int64

**TripAdvisor**

In [4]:
trip = pd.read_csv('./data/trip_servicios_sumas_clasificados.csv')

In [5]:
trip.city.value_counts()

Bacalar         55
Loreto          11
Isla Mujeres     7
Todos Santos     6
Mazunte          4
Name: city, dtype: int64

#### Precio promedio

In [6]:
booking[['stars','prices']].groupby('stars').mean()

            prices
stars
0      1747.838057
2      2016.875000
3      1606.685714
4      3604.969231
5      6135.586957

In [7]:
trip[['stars','prices']].groupby('stars').mean()

            prices
stars
0.0    1961.127273
1.0    1533.000000
2.0    1520.400000
2.5    1261.500000
3.0    1937.100000
3.5    3219.250000
4.0    2480.000000
4.5    4356.500000
5.0    3172.333333

### Hoteles en ambas plataformas

In [8]:
bk_names = [
   'Agam Hotel', 'Cabañas Hostal & Camping Magic Bacalar', 'Pucté 13', 'Casa Bizu',
   'Casa Mazunte Tierra Viva', 'Casa Árabe', 'El Roble Nature Hotel & Lagoon', 'Hacienda Suites Loreto',
   'Hacienda Todos Los Santos', 'Ade Hotel Bacalar', 'Hospedaje Casa Poblana', 'Hotel Henry Bacalar',
   'La Mision Loreto', 'Hotel Santa Fe Loreto by Villa Group', 'Xbulu-Ha', 'isel magic hotel',
   'Loreto Bay Golf Resort & Spa at Baja', 'Mayanah Condohotel Bacalar By Rotamundos', 'Na Balam Hotel', 'Hotel Casa Ariana',
   'Hotel Seyba Bakalar', 'Papitos Bacalar Hotel and Marina', 'Perro Surfero-Outsite Todos Santos', 'Posada Paso Del Sol',
   'Posada de las Flores Loreto', 'Posada del Cortes', 'Poza Clara Sanctuary', 'Royal Palm Bacalar Cabañas & Lagoon Club',
   'Serendipity', 'XO Hotel Bacalar Lakefront - All Inclusive', 'Zensus Eco Boutique Hotel',
]

In [9]:
ta_names = [
   'Agam Hotel Bacalar', 'Cabanas Hostal Y Camping & Marina Magic Bacalar', 'Cabanas Pucte', 'Casa Bizu B & B',
   'Casa Mazunte Tierra Viva Casa de campo', 'Casa Árabe Alojamiento', 'El Roble Hotel Nature', 'Hacienda Suites Hotel',
   'Hacienda Todos Los Santos Hotel', 'Hotel ADE', 'Hotel Casa Poblana', 'Hotel Henry Inn', 
   'Hotel La Misión Loreto', 'Hotel Santa Fe Loreto By Villa Group', 'Hotel Xbulu-Ha', 'Isel Magic Hotel',
   'Loreto Bay Golf Resort & Spa at Baja Hotel', 'Mayanah Condo Hotel', 'Na Balam Beach Hotel', 'OYO Hotel Casa Ariana Alojamiento',
   'OYO Hotel Seyba Bakalar', 'Papitos Bacalar', 'Perro Surfero Boutique Hotel B & B', 'Posada Paso Del Sol Hostal especializado',
   'Posada de las Flores Loreto Hotel', 'Posada del Cortes Hotel', 'Poza Clara Sanctuary Hotel', 'Royal Palm Bacalar Cabanas & Lagoon Club Posada',
   'Serendipity B & B', 'XO Hotel Bacalar', 'Zensus',
]

In [10]:
len(bk_names),len(ta_names)

(31, 31)

In [11]:
idx = trip[trip.name.isin(ta_names)].sort_values('name').index

In [12]:
trip.loc[idx,'name'] = bk_names

In [13]:
trip

,city,comments,name,prices,quality_price,rating,stars,id,rank,heredados,total_heredados,acceso/comunicacion,total_acceso/comunicacion,entretenimiento/deporte,total_entretenimiento/deporte,ninios,total_ninios,comida/bebida,total_comida/bebida
0,Bacalar,9,Zensus Eco Boutique Hotel,1566,0.0,5.0,0.0,107,102,0,0,0,0,0,0,0,0,0,0
1,Bacalar,122,Casa Lamat,1234,3.5,4.0,0.0,109,104,1,1,1,2,0,0,1,1,0,0
2,Bacalar,99,Amigos Hotelito,1800,4.0,4.0,0.0,111,106,1,1,1,2,0,0,1,1,1,1
3,Bacalar,737,Centro Holistico Akalki Spa,7612,4.0,4.5,0.0,112,107,1,1,1,2,1,1,1,1,1,1
4,Bacalar,62,Bacalar Sunrise Villa Alojamiento,1461,5.0,4.5,0.0,113,108,0,0,1,2,1,2,1,3,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,Todos Santos,69,Perro Surfero-Outsite Todos Santos,2199,5.0,4.5,0.0,1483,24,0,0,1,2,1,3,1,1,0,0
79,Todos Santos,429,Guaycura Boutique Hotel Beach Club & Spa,4477,4.5,4.5,3.5,1484,25,1,1,1,2,1,2,1,1,1,1
80,Todos Santos,95,Paradero Todos Santos Hotel,12756,4.5,4.5,0.0,1485,26,0,0,1,2,1,1,0,0,1,3
81,Todos Santos,104,La Bohemia Baja Hotel Pequeno,2904,5.0,4.5,3.0,1486,27,0,0,1,2,1,1,1,2,1,1
82,Todos Santos,123,Serendipity,3387,5.0,5.0,5.0,1488,29,1,2,1,1,1,1,1,2,1,3

In [14]:
booking

,city,comments,name,prices,quality_price,rating,stars,id,rank,heredados,...,acceso/comunicacion,total_acceso/comunicacion,entretenimiento/deporte,total_entretenimiento/deporte,inclusion,total_inclusion,ninios,total_ninios,comida/bebida,total_comida/bebida
0,Bacalar,166.0,Habitas Bacalar,5977,8.8,9.5,5,1,1,1,...,1,2,1,1,0,0,0,0,1,1
1,Bacalar,10.0,XO Hotel Bacalar Lakefront - All Inclusive,2745,7.2,7.1,3,2,2,1,...,1,6,1,7,0,0,1,3,1,7
2,Bacalar,419.0,Xibalba in town,1200,8.5,8.2,0,3,3,0,...,1,2,1,1,0,0,0,0,1,2
3,Bacalar,367.0,Blue Bird,2964,7.9,8.7,0,4,4,1,...,1,1,1,4,0,0,1,1,1,4
4,Bacalar,295.0,Hotel Casa Ariana,720,8.6,8.4,2,5,5,0,...,1,1,1,4,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,Tulum,3.0,BIT TULUM Villas,2671,7.5,7.7,4,926,528,0,...,1,2,1,4,0,0,1,1,1,2
645,Tulum,11.0,Loft open space Tulum,1165,8.6,8.5,3,927,529,0,...,1,2,1,3,0,0,0,0,1,1
646,Tulum,83.0,Tulum Nah,802,8.6,8.3,3,928,530,0,...,1,5,1,3,1,4,1,2,0,0
647,Tulum,193.0,Casa Ganesh Tulum,4080,8.0,8.3,0,929,531,1,...,1,7,1,5,0,0,1,1,1,1
648,Tulum,10.0,Casa Bohemia,797,8.4,7.6,0,930,532,0,...,1,4,1,1,0,0,1,1,1,1

In [15]:
np.intersect1d(trip.name,booking.name).shape

(50,)

In [16]:
shared = pd.merge(trip,booking,on='name',suffixes=('_ta','_bk'))
shared = shared.drop_duplicates(subset=['name'])
shared

,city_ta,comments_ta,name,prices_ta,quality_price_ta,rating_ta,stars_ta,id_ta,rank_ta,heredados_ta,...,acceso/comunicacion_bk,total_acceso/comunicacion_bk,entretenimiento/deporte_bk,total_entretenimiento/deporte_bk,inclusion,total_inclusion,ninios_bk,total_ninios_bk,comida/bebida_bk,total_comida/bebida_bk
0,Bacalar,9,Zensus Eco Boutique Hotel,1566,0.0,5.0,0.0,107,102,0,...,1,3,1,2,0,0,1,1,1,1
3,Bacalar,99,Amigos Hotelito,1800,4.0,4.0,0.0,111,106,1,...,1,1,1,6,0,0,1,1,1,1
4,Bacalar,17,Ade Hotel Bacalar,1019,0.0,3.5,0.0,117,112,0,...,1,6,1,11,1,1,1,1,1,3
5,Bacalar,4,Aldea Che-eek,1250,0.0,5.0,0.0,124,119,0,...,1,1,1,2,1,1,1,1,1,1
6,Bacalar,6,Stone Aparments,1114,0.0,3.0,0.0,130,125,0,...,1,4,1,4,1,1,1,1,0,0
7,Bacalar,7,Hotel Casa Ariana,720,0.0,4.5,0.0,134,129,0,...,1,1,1,4,0,0,0,0,0,0
9,Bacalar,3,Poza Clara Sanctuary,1499,0.0,4.5,0.0,135,130,0,...,1,2,1,7,1,1,1,4,1,3
10,Bacalar,4,Royal Palm Bacalar Cabañas & Lagoon Club,1250,0.0,3.5,0.0,137,132,0,...,1,1,1,6,1,1,1,2,0,0
11,Bacalar,1,Hospedaje Casa Poblana,908,0.0,5.0,0.0,139,134,0,...,1,5,1,9,0,0,1,1,1,2
12,Bacalar,3,Casa Árabe,1600,0.0,3.5,0.0,140,135,0,...,1,8,1,10,0,0,1,2,1,5
13,Bacalar,4,Pucté 13,2475,0.0,3.5,0.0,141,136,0,...,1,7,1,2,0,0,1,1,1,1
14,Bacalar,7,El Roble Nature Hotel & Lagoon,1125,4.5,4.0,0.0,142,137,1,...,1,1,1,3,0,0,1,1,1,3
16,Bacalar,139,Toto Blue Hotel Boutique,2140,3.5,4.0,3.5,172,167,0,...,1,5,1,9,1,1,1,1,1,4
17,Bacalar,7,Hotel Henry Bacalar,799,5.0,5.0,0.0,173,168,0,...,1,1,1,2,0,0,1,2,1,1
18,Bacalar,0,Mayanah Condohotel Bacalar By Rotamundos,6995,0.0,NaN,0.0,175,170,0,...,1,6,1,2,0,0,1,2,1,4
19,Bacalar,0,Blue Hotel,600,0.0,NaN,0.0,182,177,0,...,1,6,1,6,1,4,1,1,1,1
21,Bacalar,0,isel magic hotel,1000,0.0,NaN,0.0,184,179,0,...,1,1,1,5,0,0,1,1,1,1
23,Bacalar,3,Hotel Seyba Bakalar,3000,0.0,1.5,0.0,185,180,0,...,1,2,1,1,0,0,1,1,0,0
24,Bacalar,197,Hostal & Suites Pata de Perro,562,4.5,4.5,0.0,198,193,0,...,1,2,1,1,0,0,1,1,1,1
25,Bacalar,128,Hotel Hacienda Bacalar,950,4.0,3.5,3.0,199,194,0,...,1,1,1,1,0,0,1,2,0,0
26,Bacalar,14,La Kinta Hotel,1289,0.0,5.0,0.0,202,197,0,...,1,3,1,9,1,1,1,2,1,4
27,Bacalar,30,Blue Palm Bacalar,2808,5.0,5.0,0.0,203,198,1,...,1,3,1,12,0,0,0,0,1,1
28,Bacalar,262,Cabañas Hostal & Camping Magic Bacalar,1533,4.5,4.0,1.0,204,199,1,...,1,1,1,5,0,0,1,1,1,2
29,Bacalar,1,Hotel Circulo Bacalar,2500,0.0,5.0,0.0,208,203,0,...,1,5,1,5,0,0,1,1,1,3
30,Bacalar,55,Azul 36 Hotel,1744,2.0,4.0,0.0,210,205,0,...,1,2,1,4,0,0,1,1,0,0
31,Bacalar,55,El Roble Hotel,589,4.0,4.0,0.0,214,209,0,...,1,3,1,3,1,2,1,1,1,1
32,Bacalar,363,Hotel & Suites Oasis Bacalar,1691,5.0,5.0,0.0,228,223,0,...,1,3,1,5,1,3,1,2,1,1
33,Bacalar,33,Agam Hotel,1689,4.5,5.0,0.0,230,225,0,...,1,7,1,5,0,0,0,0,1,3
34,Bacalar,11,Casa Bizu,1080,0.0,3.5,0.0,240,235,0,...,1,1,1,6,0,0,1,2,1,5
35,Bacalar,6,XO Hotel Bacalar Lakefront - All Inclusive,1358,0.0,3.0,0.0,266,261,0,...,1,6,1,7,0,0,1,3,1,7
37,Bacalar,2,Papitos Bacalar Hotel and Marina,960,0.0,4.0,0.0,267,262,0,...,1,4,1,7,0,0,1,1,1,2
38,Bacalar,13,Hotel Pancho Villas Bacalar,1850,0.0,3.5,0.0,268,263,1,...,1,4,1,3,0,0,1,1,1,3
39,Isla Mujeres,23,Posada Paso Del Sol,644,4.0,4.0,0.0,452,112,0,...,0,0,1,4,0,0,0,0,1,1
40,Isla Mujeres,131,Hotel Isleño,1546,4.5,4.0,3.0,459,119,0,...,1,3,1,6,0,0,1,2,1,1
41,Isla Mujeres,286,Xbulu-Ha,1269,4.5,4.0,2.0,462,122,0,...,1,1,1,5,0,0,1,1,1,1
42,Isla Mujeres,1019,Na Balam Hotel,3048,3.5,3.5,3.5,465,125,1,...,1,5,1,7,1,1,1,2,1,2
43,Loreto,181,Posada de las Flores Loreto,2480,3.5,4.0,4.0,521,15,1,...,1,8,1,10,0,0,0,0,1,2
44,Loreto,97,Hacienda Suites Loreto,1720,4.0,3.5,3.0,526,20,0,...,1,3,1,2,0,0,1,1,1,1
45,Loreto,77,Hotel 1697 Loreto,2319,4.5,4.5,3.0,532,26,0,...,1,1,1,8,0,0,0,0,1,3
46,Loreto,60,Hotel Angra,1016,4.5,4.5,2.5,533,27,0,...,1,1,1,3,0,0,0,0,0,0
47,Loreto,142,Posada del Cortes,2389,4.5,4.5,2.0,534,28,0,...,1,6,1,18,0,0,1,2,1,5
48,Loreto,1002,La Mision Loreto,3212,4.5,4.5,3.5,540,34,1,...,1,8,1,13,1,4,1,1,1,5
49,Loreto,814,Loreto Bay Golf Resort & Spa at Baja,1940,4.0,3.5,4.5,541,35,1,...,1,6,1,12,1,6,1,1,1,2
50,Loreto,219,Hotel Oasis,2521,3.5,3.5,3.0,542,36,1,...,1,7,1,13,1,5,1,3,1,8
51,Loreto,587,Hotel Santa Fe Loreto by Villa Group,1679,4.5,4.5,3.0,543,37,0,...,1,5,1,10,1,2,1,3,1,2
52,Mazunte,24,Casa Mazunte Tierra Viva,785,5.0,4.5,2.0,592,26,1,...,1,1,1,7,1,3,1,1,1,5
53,Mazunte,25,Cabañas Telayú,840,4.0,3.5,0.0,596,30,0,...,0,0,0,0,0,0,1,1,1,1
54,Todos Santos,103,Hacienda Todos Los Santos,4085,4.5,5.0,5.0,1482,23,0,...,1,1,1,3,0,0,1,1,1,1
55,Todos Santos,69,Perro Surfero-Outsite Todos Santos,2199,5.0,4.5,0.0,1483,24,0,...,1,2,1,11,0,0,1,3,1,4
56,Todos Santos,123,Serendipity,3387,5.0,5.0,5.0,1488,29,1,...,1,1,1,1,1,1,1,3,1,2

In [17]:
shared.columns

Index(['city_ta', 'comments_ta', 'name', 'prices_ta', 'quality_price_ta',
       'rating_ta', 'stars_ta', 'id_ta', 'rank_ta', 'heredados_ta',
       'total_heredados_ta', 'acceso/comunicacion_ta',
       'total_acceso/comunicacion_ta', 'entretenimiento/deporte_ta',
       'total_entretenimiento/deporte_ta', 'ninios_ta', 'total_ninios_ta',
       'comida/bebida_ta', 'total_comida/bebida_ta', 'city_bk', 'comments_bk',
       'prices_bk', 'quality_price_bk', 'rating_bk', 'stars_bk', 'id_bk',
       'rank_bk', 'heredados_bk', 'total_heredados_bk',
       'acceso/comunicacion_bk', 'total_acceso/comunicacion_bk',
       'entretenimiento/deporte_bk', 'total_entretenimiento/deporte_bk',
       'inclusion', 'total_inclusion', 'ninios_bk', 'total_ninios_bk',
       'comida/bebida_bk', 'total_comida/bebida_bk'],
      dtype='object')

In [19]:
cols = [
    'city_ta', 'comments_ta', 'name', 'prices_ta', 'quality_price_ta','rating_ta', 'stars_ta', 'rank_ta', 'heredados_ta',
    'total_heredados_ta', 'acceso/comunicacion_ta', 'total_acceso/comunicacion_ta', 'entretenimiento/deporte_ta',
    'total_entretenimiento/deporte_ta', 'ninios_ta', 'total_ninios_ta', 'comida/bebida_ta', 'total_comida/bebida_ta',
    'comments_bk', 'prices_bk', 'quality_price_bk', 'rating_bk', 'stars_bk', 'rank_bk', 'heredados_bk', 'total_heredados_bk',
    'acceso/comunicacion_bk', 'total_acceso/comunicacion_bk','entretenimiento/deporte_bk', 'total_entretenimiento/deporte_bk', 
    'inclusion', 'total_inclusion', 'ninios_bk', 'total_ninios_bk','comida/bebida_bk', 'total_comida/bebida_bk'
]

In [25]:
shared = shared[cols].rename(columns={'city_ta':'city'})
shared

,city,comments_ta,name,prices_ta,quality_price_ta,rating_ta,stars_ta,rank_ta,heredados_ta,total_heredados_ta,...,acceso/comunicacion_bk,total_acceso/comunicacion_bk,entretenimiento/deporte_bk,total_entretenimiento/deporte_bk,inclusion,total_inclusion,ninios_bk,total_ninios_bk,comida/bebida_bk,total_comida/bebida_bk
0,Bacalar,9,Zensus Eco Boutique Hotel,1566,0.0,5.0,0.0,102,0,0,...,1,3,1,2,0,0,1,1,1,1
3,Bacalar,99,Amigos Hotelito,1800,4.0,4.0,0.0,106,1,1,...,1,1,1,6,0,0,1,1,1,1
4,Bacalar,17,Ade Hotel Bacalar,1019,0.0,3.5,0.0,112,0,0,...,1,6,1,11,1,1,1,1,1,3
5,Bacalar,4,Aldea Che-eek,1250,0.0,5.0,0.0,119,0,0,...,1,1,1,2,1,1,1,1,1,1
6,Bacalar,6,Stone Aparments,1114,0.0,3.0,0.0,125,0,0,...,1,4,1,4,1,1,1,1,0,0
7,Bacalar,7,Hotel Casa Ariana,720,0.0,4.5,0.0,129,0,0,...,1,1,1,4,0,0,0,0,0,0
9,Bacalar,3,Poza Clara Sanctuary,1499,0.0,4.5,0.0,130,0,0,...,1,2,1,7,1,1,1,4,1,3
10,Bacalar,4,Royal Palm Bacalar Cabañas & Lagoon Club,1250,0.0,3.5,0.0,132,0,0,...,1,1,1,6,1,1,1,2,0,0
11,Bacalar,1,Hospedaje Casa Poblana,908,0.0,5.0,0.0,134,0,0,...,1,5,1,9,0,0,1,1,1,2
12,Bacalar,3,Casa Árabe,1600,0.0,3.5,0.0,135,0,0,...,1,8,1,10,0,0,1,2,1,5
13,Bacalar,4,Pucté 13,2475,0.0,3.5,0.0,136,0,0,...,1,7,1,2,0,0,1,1,1,1
14,Bacalar,7,El Roble Nature Hotel & Lagoon,1125,4.5,4.0,0.0,137,1,2,...,1,1,1,3,0,0,1,1,1,3
16,Bacalar,139,Toto Blue Hotel Boutique,2140,3.5,4.0,3.5,167,0,0,...,1,5,1,9,1,1,1,1,1,4
17,Bacalar,7,Hotel Henry Bacalar,799,5.0,5.0,0.0,168,0,0,...,1,1,1,2,0,0,1,2,1,1
18,Bacalar,0,Mayanah Condohotel Bacalar By Rotamundos,6995,0.0,NaN,0.0,170,0,0,...,1,6,1,2,0,0,1,2,1,4
19,Bacalar,0,Blue Hotel,600,0.0,NaN,0.0,177,0,0,...,1,6,1,6,1,4,1,1,1,1
21,Bacalar,0,isel magic hotel,1000,0.0,NaN,0.0,179,0,0,...,1,1,1,5,0,0,1,1,1,1
23,Bacalar,3,Hotel Seyba Bakalar,3000,0.0,1.5,0.0,180,0,0,...,1,2,1,1,0,0,1,1,0,0
24,Bacalar,197,Hostal & Suites Pata de Perro,562,4.5,4.5,0.0,193,0,0,...,1,2,1,1,0,0,1,1,1,1
25,Bacalar,128,Hotel Hacienda Bacalar,950,4.0,3.5,3.0,194,0,0,...,1,1,1,1,0,0,1,2,0,0
26,Bacalar,14,La Kinta Hotel,1289,0.0,5.0,0.0,197,0,0,...,1,3,1,9,1,1,1,2,1,4
27,Bacalar,30,Blue Palm Bacalar,2808,5.0,5.0,0.0,198,1,1,...,1,3,1,12,0,0,0,0,1,1
28,Bacalar,262,Cabañas Hostal & Camping Magic Bacalar,1533,4.5,4.0,1.0,199,1,1,...,1,1,1,5,0,0,1,1,1,2
29,Bacalar,1,Hotel Circulo Bacalar,2500,0.0,5.0,0.0,203,0,0,...,1,5,1,5,0,0,1,1,1,3
30,Bacalar,55,Azul 36 Hotel,1744,2.0,4.0,0.0,205,0,0,...,1,2,1,4,0,0,1,1,0,0
31,Bacalar,55,El Roble Hotel,589,4.0,4.0,0.0,209,0,0,...,1,3,1,3,1,2,1,1,1,1
32,Bacalar,363,Hotel & Suites Oasis Bacalar,1691,5.0,5.0,0.0,223,0,0,...,1,3,1,5,1,3,1,2,1,1
33,Bacalar,33,Agam Hotel,1689,4.5,5.0,0.0,225,0,0,...,1,7,1,5,0,0,0,0,1,3
34,Bacalar,11,Casa Bizu,1080,0.0,3.5,0.0,235,0,0,...,1,1,1,6,0,0,1,2,1,5
35,Bacalar,6,XO Hotel Bacalar Lakefront - All Inclusive,1358,0.0,3.0,0.0,261,0,0,...,1,6,1,7,0,0,1,3,1,7
37,Bacalar,2,Papitos Bacalar Hotel and Marina,960,0.0,4.0,0.0,262,0,0,...,1,4,1,7,0,0,1,1,1,2
38,Bacalar,13,Hotel Pancho Villas Bacalar,1850,0.0,3.5,0.0,263,1,1,...,1,4,1,3,0,0,1,1,1,3
39,Isla Mujeres,23,Posada Paso Del Sol,644,4.0,4.0,0.0,112,0,0,...,0,0,1,4,0,0,0,0,1,1
40,Isla Mujeres,131,Hotel Isleño,1546,4.5,4.0,3.0,119,0,0,...,1,3,1,6,0,0,1,2,1,1
41,Isla Mujeres,286,Xbulu-Ha,1269,4.5,4.0,2.0,122,0,0,...,1,1,1,5,0,0,1,1,1,1
42,Isla Mujeres,1019,Na Balam Hotel,3048,3.5,3.5,3.5,125,1,2,...,1,5,1,7,1,1,1,2,1,2
43,Loreto,181,Posada de las Flores Loreto,2480,3.5,4.0,4.0,15,1,1,...,1,8,1,10,0,0,0,0,1,2
44,Loreto,97,Hacienda Suites Loreto,1720,4.0,3.5,3.0,20,0,0,...,1,3,1,2,0,0,1,1,1,1
45,Loreto,77,Hotel 1697 Loreto,2319,4.5,4.5,3.0,26,0,0,...,1,1,1,8,0,0,0,0,1,3
46,Loreto,60,Hotel Angra,1016,4.5,4.5,2.5,27,0,0,...,1,1,1,3,0,0,0,0,0,0
47,Loreto,142,Posada del Cortes,2389,4.5,4.5,2.0,28,0,0,...,1,6,1,18,0,0,1,2,1,5
48,Loreto,1002,La Mision Loreto,3212,4.5,4.5,3.5,34,1,2,...,1,8,1,13,1,4,1,1,1,5
49,Loreto,814,Loreto Bay Golf Resort & Spa at Baja,1940,4.0,3.5,4.5,35,1,3,...,1,6,1,12,1,6,1,1,1,2
50,Loreto,219,Hotel Oasis,2521,3.5,3.5,3.0,36,1,2,...,1,7,1,13,1,5,1,3,1,8
51,Loreto,587,Hotel Santa Fe Loreto by Villa Group,1679,4.5,4.5,3.0,37,0,0,...,1,5,1,10,1,2,1,3,1,2
52,Mazunte,24,Casa Mazunte Tierra Viva,785,5.0,4.5,2.0,26,1,1,...,1,1,1,7,1,3,1,1,1,5
53,Mazunte,25,Cabañas Telayú,840,4.0,3.5,0.0,30,0,0,...,0,0,0,0,0,0,1,1,1,1
54,Todos Santos,103,Hacienda Todos Los Santos,4085,4.5,5.0,5.0,23,0,0,...,1,1,1,3,0,0,1,1,1,1
55,Todos Santos,69,Perro Surfero-Outsite Todos Santos,2199,5.0,4.5,0.0,24,0,0,...,1,2,1,11,0,0,1,3,1,4
56,Todos Santos,123,Serendipity,3387,5.0,5.0,5.0,29,1,2,...,1,1,1,1,1,1,1,3,1,2

In [26]:
shared.city.value_counts()

Bacalar         32
Loreto           9
Isla Mujeres     4
Todos Santos     3
Mazunte          2
Name: city, dtype: int64

In [27]:
shared.to_csv('./data/ambas.csv')